# Netscape HTTP Cookie File
# this can be initiated with exported cookies.txt from any browser extension
# be careful and never share the content of this file, access must be limited to local/container user


