version: '3.7'

x-common: &common
    image: ghcr.io/liofal/youtube-dl:3.2.124
    build:
      context: .
      dockerfile: Dockerfile
    env_file: 
        - default.env
    user: 1027:100
    working_dir: /download
    logging:
      driver: json-file
    deploy:
      resources:
        limits:
          memory: 256M
    volumes:
    - /volume1/twitch:/download

services:
 twitch:
    <<: *common
    container_name: youtube-dl_${TWITCH}
    environment:
      - url=https://www.twitch.tv/${TWITCH}/videos/all
